@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.navbar {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid rgb(127, 160, 187);
}

.navbar h1 {
  color: steelblue;
}

.navbar .links {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  margin-left: 2rem;
  text-decoration: none;
  padding: 6px;
  align-self: center;
}

.navbar a:hover {
  background-color: steelblue;
  color: white;
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-preview {
  max-width: 380px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 10px;
}

.blog-preview h2 {
  font-size: 1.5rem;
}

.blog-preview h3 {
  font-size: 0.9rem;
}

.blog-preview:hover {
  box-shadow: 9px 9px 5px rgb(169, 201, 228);
}

.preview-info {
  padding: 15px;
}

.blog-details img {
  margin: 0 auto;
  display: block;
}

.blog-details h2 {
  text-align: center;
  margin-top: 1rem;
}

.blog-details p {
  margin-top: 1rem;
}

.blog-details div {
  margin-top: 2rem;
}

.blog-details button {
  background: steelblue;
  margin-top: 2rem;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
}

.create {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 1.5rem;
  color: steelblue;
  margin-bottom: 2rem;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 0.5rem 0.6rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: steelblue;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
}
